{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block body %}
        <div class="page-header">
            <h1>About</h1>
        </div>
        <div>
            <p>
            This is <strong>Rango's about page</strong><br />
            <a href="{% url 'index' %}">Click to return to the index page.</a><br />
            Here is a picture of Rango!
            </p>
            <img src="{% static "images/Rango.jpg"%}" alt="Picture of Rango" />
        </div>
{% endblock %}