{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Index{% endblock %}

{% block body %}    
    {% if user.is_authenticated %}        
        <h1 class="page-header">Hello {{ user.username }}!</h1>
    {% else %}
        <h1 class="page-header">Hello world!</h1>        
    {% endif %}
        
    <div class="row placeholder">
        <div class="col-xs-12 col-sm-6 placeholder">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Top five Categories</h3>
                </div>
            </div>            
            
            {% if categories %}
            <ul class="list-group">
                {% for category in categories %}
                <li class="list-group-item"><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
            <br/>                                
        </div>
        <div class="col-xs-12 col-sm-6 placeholder">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Top five Pages</h3>
                </div>
            </div>
            
            {% if pages %}
                <ul class="list-group">
                    {% for page in pages %}
                    <li class="list-group-item"><a href="{% url 'goto' %}?page_id={{page.id}}">{{ page.title }}</a><small> - {{ page.category.name }} {{ page.views }} view(s)</small></li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no pages in {{ category.name }}.</strong>
            {% endif %}
        </div>
    </div>
    
    <p>visits: {{ visits }}</p>        
{% endblock %}
        
