<!DOCTYPE html>
<!-- <!DOCTYPE> 声明必须是 HTML 文档的第一行，表示 HTML 版本 -->
{% load staticfiles %}
<html>
    
    <head>
        <title>Rango</title>
        <link rel="stylesheet" href="{% static "css/base.css" %}"></link>
        <script src="{% static "js/jquery.js" %}"></script>
    </head>
    
    <body>
        <h1>Rango says...</h1>
        hello world! <strong>{{ boldmessage }}</strong>
        <a href='/rango/about'>About</a><br />
        <img src="{% static "images/Rango.jpg" %}" alt="Picture of Rango" />
        <!-- src 为什么要这样写？wait 第二行加载后我们能使用 static tag to combine
        STATIC_URL with 'images/Rango.jpg'
        渲染后相当于 "/static/images/Rango.jpg"
        alt="some_text" 当图片未显示时出现的文字 -->
    </body>
    
</html>